<header>
    <div class="navbar">
        <h1>Huellita Chalaca</h1>
        <nav>
            <a th:href="@{/index}">Inicio</a>
            <a href="/clienteCrud">Clientes</a>
            <a href="servicios.html">Servicios</a>
            <a href="productos.html">Productos</a>
            <a href="medicos.html">Médicos</a>
            <a href="certificaciones.html">Certificaciones</a>
            <a href="contacto.html">Contacto</a>
            <a href="inicio_sesion.html">Inicio Sesión</a>
            <a href="boleta.html">Boleta</a>
        </nav>
    </div>
</header>
