/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 3 nov. 2024, 3:27:42 p. m.
    Author     : jtorr
*/

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    margin: 0;
}

.navbar nav a {
    color: #fff;
    margin: 0 0.5rem;
    text-decoration: none;
}

.navbar nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.social-links img {
    width: 30px;
    margin: 0 5px;
}

.review-card {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    max-width: 250px;
}
