<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huellita Chalaca - Servicios</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="navbar">
            <h1>Huellita Chalaca</h1>
            <nav>
                <a href="huellitachalaca.html">Inicio</a>
                <a href="servicios.html">Servicios</a>
                <a href="productos.html">Productos</a>
                <a href="medicos.html">Médicos</a>
                <a href="certificaciones.html">Certificaciones</a>
                <a href="contacto.html">Contacto</a>
            </nav>
        </div>
    </header>

    <section id="services">
        <h2>Nuestros Servicios</h2>
        <div class="services-container">
            <div class="service" onclick="openServiceDetail('Baño y Estética')">
                <img src="imagenes/SER1.jpeg" alt="Baño y Estética">
                <p>Baño y Estética</p>
            </div>
            <div class="service" onclick="openServiceDetail('Vacunación')">
                <img src="imagenes/SER2.jpg" alt="Vacunación">
                <p>Vacunación</p>
            </div>
            <div class="service" onclick="openServiceDetail('Consulta Veterinaria')">
                <img src="imagenes/SER3.jpg" alt="Consulta Veterinaria">
                <p>Consulta Veterinaria</p>
            </div>
        </div>
    </section>

    <footer>
        <p>Conéctate con nosotros:</p>
        <div class="social-links">
            <a href="https://wa.me/+51940237032" target="_blank">
                <img src="whatsapp-icon.png" alt="WhatsApp">
            </a>
            <a href="https://www.facebook.com/huellitachalaca" target="_blank">
                <img src="facebook-icon.png" alt="Facebook">
            </a>
            <a href="https://twitter.com/huellitachalaca" target="_blank">
                <img src="twitter-icon.png" alt="Twitter">
            </a>
            <a href="https://www.instagram.com/huellitachalaca" target="_blank">
                <img src="instagram-icon.png" alt="Instagram">
            </a>
        </div>
        <p>&copy; 2024 Huellita Chalaca. Todos los derechos reservados.</p>
    </footer>

    <script src="scripts.js"></script>
</body>
</html>
